server {
    listen ${SNIKKET_TWEAK_HTTP_PORT};
    listen [::]:${SNIKKET_TWEAK_HTTP_PORT};

    server_name ${SNIKKET_DOMAIN};
    server_name groups.${SNIKKET_DOMAIN};
    server_name share.${SNIKKET_DOMAIN};

    location /.well-known/acme-challenge {
        alias /var/www/html/.well-known/acme-challenge;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
