server {
    listen ${SNIKKET_TWEAK_HTTP_PORT};
    listen [::]:${SNIKKET_TWEAK_HTTP_PORT};

    server_name ${SNIKKET_DOMAIN};
    server_name groups.${SNIKKET_DOMAIN};
    server_name share.${SNIKKET_DOMAIN};

    return 301 https://$host$request_uri;
}
